# Fichiers système Windows et Mac
Thumbs.db
.DS_Store


# Si vous utilisez npm un jour
node_modules/


# Fichiers de configuration personnels VS Code
.vscode/settings.json


# Logs
*.log
# Voir tous les nouveaux fichiers
git status


# Tout ajouter
git add .


git commit -m "feat: initialisation structure projet"


git push

git status
git add
git add .
git commit -m "feat: initialisation structure projet"
git push
